<?xml version="1.0" encoding="utf-8"?>
<!-- DOCTYPE manifest -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.palmcrust.yawadb"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <receiver android:name="com.palmcrust.yawadb.YawAdbProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <!-- action android:name="android.appwidget.action.APPWIDGET_DELETED" /-->
                <!-- category android:name="android.intent.category.DEFAULT" /-->
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                    android:resource="@xml/appwidget_info" />
		</receiver>
        
        <activity
           	android:name="com.palmcrust.yawadb.PopupActivity"
         	android:configChanges="keyboard|keyboardHidden|orientation|screenSize" >
   	    	<intent-filter>
               	<action android:name="android.intent.action.MAIN" />
               	<category android:name="android.intent.category.LAUNCHER" />
       		</intent-filter>
       	</activity>
        
        <activity
           	android:name="com.palmcrust.yawadb.ConfigActivity"
         	android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        
        <activity
           	android:name="com.palmcrust.yawadb.InfoActivity"
	        android:theme="@style/InfoTheme" 
         	android:configChanges="keyboard|keyboardHidden|orientation|screenSize" >

<!--            <intent-filter> &lt;!&ndash; android:label="@string/filter_title_viewgizmos" &ndash;&gt;-->
<!--                <action android:name="android.intent.action.VIEW" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->
<!--                <data android:scheme="http"-->
<!--                    android:host="com.palmcrust.com"-->
<!--                    android:pathPrefix="/Android/yawadb-phone" />-->
<!--                &lt;!&ndash; note that the leading "/" is required for pathPrefix&ndash;&gt;-->
<!--                &lt;!&ndash; Accepts URIs that begin with "example://gizmos” &ndash;&gt;-->
<!--                <data android:scheme="example"-->
<!--                    android:host="yawadb" />-->

<!--            </intent-filter>-->
        </activity>
        
        <service
            android:name="com.palmcrust.yawadb.YawAdbService"
            android:exported="false" />	        	    
	        
    </application>

</manifest>
